<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>127262980557-0il2q70gli2r1827fgp3dlciemku3al6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127262980557-0il2q70gli2r1827fgp3dlciemku3al6</string>
	<key>API_KEY</key>
	<string>AIzaSyAHEaRvzAyi_GmADGMtCFdQD8lTzB35fn0</string>
	<key>GCM_SENDER_ID</key>
	<string>127262980557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team-Null.MealsMadeEasy</string>
	<key>PROJECT_ID</key>
	<string>mealsmadeeasy-a4722</string>
	<key>STORAGE_BUCKET</key>
	<string>mealsmadeeasy-a4722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127262980557:ios:2c143f9448c06569</string>
	<key>DATABASE_URL</key>
	<string>https://mealsmadeeasy-a4722.firebaseio.com</string>
</dict>
</plist>